/*
This file is all about positioning the blocks of the codecharta. It is not about styling other compnents internally.
This file also manages pointer event capturing for the blocks.
 */

html, body {
  font-size: 1em;
  color: #5A585A;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

/* Codemap is backgrond and ui is in foreground + making things unclickable/clickable*/

code-map-directive, #ui {
  position:absolute;
  z-index: 0;
  top:0;
  left:0;
}

code-map-directive {
   z-index: 0;
}

#ui {
  z-index: 10;
  pointer-events: none;
  width:100%;
  height:100%;
  display:block;
}

#ui > * {
  pointer-events: all;
}

/* Logo link */
#logo-link {
  position: absolute;
  top:20px;
  left:20px;
  display: block;
  width: 4em;
  margin: 0;
  padding:0;
}

#logo-link > img{
  display: block;
  width: 4em;
  margin: 0;
  padding:0;
}

/* name and version */
#name {
  pointer-events: none;
  display:block;
  position: absolute;
  top:20px;
  right: 20px;
  text-transform: uppercase;
  font-size: 0.9em;
  line-height: 1.4em;
  color: #5A585A;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

#name:first-child {
  font-size: 1.82em;
}

#name:last-child {
  font-size: 1.5em;
}

/* action buttons */
#actionButtons {
  position: absolute;
  right:20px;
  bottom:20px;
  display:inline-block;
  pointer-events: none;
}

#actionButtons > * {
  margin:5px;
  pointer-events: all;
}

/* detailPanel positioning */
detail-panel-directive {
  display:block;
  position: absolute;
  bottom: 20px;
  left: 20px;
  pointer-events: none;
}


/*#settingsPanel {
    position: fixed;
    right: 0;
    width: 0px;
    height: 100%;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 0 10px #000;
}

#detailWindow {
    position: fixed;
    z-index: 999;
    bottom: 0.5em;
    left: 0.5em;
    color:#5A585A;
    font-size: 0.8em;
}

#legendButton {
    position: absolute;
    top: 11.5em;
    left: -2.9em;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#legendPanel {
    position: fixed;
    top: 9em;
    left: -500px;
}

#revisionButton {
    position: absolute;
    top: 21em;
    left: -3.5em;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#revisionChooser {
    position: fixed;
    top: 18.5em;
    left: -400px;
}

.rzslider .rz-pointer, .rzslider .rz-selection {
    background: #26a69a !important;
}

.rzslider .rz-bar {
    background: rgb(196,196,196);
}*/
